<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In - KITAB4U</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
<link rel="stylesheet" href="../../styles/user/login.css">
</head>
<body>
  <div class="container-fluid signup-container flex-column flex-lg-row">
    <!-- Left Panel -->
    <div class="col-12 col-lg-6 left-panel d-flex">
      <img src="../../images/logo.png" alt="logo" class="img-fluid" style="max-width: 500px;">
    </div>

    <!-- Right Panel -->
    <div class="col-lg-6 col-12 right-panel">
      <div class="signup-form">
        <h2 class="form-title fw-bold">LOG IN TO KITAB4U</h2>
        <br>

        <!-- Google Sign In Button -->
        <a href="/auth/google" class="btn btn-google w-100 mb-3 rounded-pill"> 
          <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google Logo">
          Log in or Sign up with Google 
        </a>

        <% if (locals.message && message.length>0) { %>
          <div class="alert alert-danger text-center">
            <%= message %>    
          </div>
        <% } %>

        <form action="/login" method="POST">
          <input type="text" class="form-control" name="email" placeholder="Email Address" id="email" value="hisham@example.com">
          <input type="password" class="form-control" name="password" placeholder="Password" id="password" value="Hisham@123">
          <button type="submit" class="btn create-btn rounded-pill">Login</button>
        </form>

        <div class="login-link">
          <a href="/verifyEmail">Forgot Password ?</a>
        </div>
        <div class="login-link">
          Don't have an account ? <a href="/signup">Sign up</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
